.bg-gradient {
  background: linear-gradient(-135deg, #2a3fde, #ec2019);
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  width: 960px;
  border-radius: 10px;
  background-color: #fff;
  justify-content: space-evenly;
  align-items: center;
}

.logo-perfil {
  width: 35%;
  height: 70%;
}

.logo-perfil img {
  width: 100%;
  height: auto;
}

.login {
  width: 35%;
  height: 70%;
  text-align: center;
}

.login a img {
  width: 85%;
}

.login p {
  font-weight: 700;
}

.title {
  font-size: 1.5rem;
  line-height: 1.1em;
  color: #36434f;
  margin: 0;
  margin-bottom: 60px;
}

[type="email"],
[type="password"] {
  width: 90%;
  height: 50px;
  border-radius: 25px;
  border: 0;
  margin-bottom: 10px;
  background-color: #dfdfdf;
  transition: all .5s ease-out;
}

[type="button"] {
  font-family: inherit;
  font-weight: 700;
  background-color: #57b846;
  color: #fff;
  width: 90%;
  height: 50px;
  border-radius: 25px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: all .5s ease-out;
}

[type="email"]:hover,
[type="password"]:hover {
  box-shadow: 0 0 30px #57b846;
  padding-left: 20px;
}

[type="button"]:hover {
  background-color: #0c2b19;
}

.formulario p {
  color: #6e7d8b;
  text-decoration: none;
  font-size: .8rem;
  text-transform: capitalize;
}

.formulario a {
  color: #36434f;
  text-decoration: none;
  font-size: .8rem;
  text-transform: capitalize;
}

.formulario a:hover {
  color: #57b846;
}